<launch>
  <!-- start map_server with maze map -->
  <arg name="map_name" default="maze"/>
  <arg name="localize" default="amcl"/>
  <arg name="init_x" default="2.0"/>
  <arg name="init_y" default="2.0"/>

  <!-- start map_server with maze map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find cohan_navigation)/maps/maze.yaml" if="$(eval 'maze'==arg('map_name'))"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find cohan_navigation)/maps/comparison.yaml" if="$(eval 'comparison'==arg('map_name'))"/>
  

  <!-- start acml for localization -->
  <group if="$(eval 'amcl'==arg('localize'))">
    <include file="$(find cohan_navigation)/config/stage_pr2_move_base_config/amcl_node.xml"/>
    <param name="/amcl/initial_pose_x" value="$(arg init_x)" />
    <param name="/amcl/initial_pose_y" value="$(arg init_y)" />
    <param name="/amcl/initial_pose_a" value="0.0" />
  </group>

</launch>
